/*-- scss:defaults --*/

// See <https://quarto.org/docs/output-formats/html-themes.htm>.

$primary: #373A3C !default;

$toc-font-size: 0.75em !default;

/*-- scss:rules --*/

a {
  color: blue;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}
